<div class="card">
  <div class="card-body">
    <form [formGroup]="form">
      @for (item of fields; track $index) {
      <div class="mb-3">
        <app-label [label]="item.labelName"></app-label>
        <app-input [field]="item"></app-input>
      </div>
      }

      <app-button
        [buttonInfo]="{
          label: 'Submit',
          class: 'btn btn-primary',
          click: submitForm.bind(this)
        }"
        [disable]="!form.valid"
      ></app-button>
    </form>
  </div>
</div>
